<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2> <%= link_to restaurant.name, restaurant_path(restaurant) %> </h2>
    <div class="restaurant-links">
      <%= link_to "Edit Restaurant", edit_restaurant_path(restaurant) %> |
      <%= link_to "Delete Restaurant", restaurant_path(restaurant), method: :delete %> |
      <%= link_to "Add Review", new_restaurant_review_path(restaurant) %>
    </div>
    <ul>
    <% if restaurant.reviews.any? %>
      <% restaurant.reviews.each do |review| %>
        <li><div class="rating">Rating: <%= review.rating %></div><p><%= simple_format(review.comments) %></p></li>
      <% end %>
    <% end %>
    </ul>
  <% end %>
<% else %>
  No restaurants yet
<% end %>

<div class='row footer-button'>
  <%= link_to "Add a restaurant", new_restaurant_path, class: 'btn btn-default'%>
</div>
